{
    "env": {
        "browser": true,
        "es6": true,
        "jest/globals": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "plugins": [
        "jest",
        "react",
        "@typescript-eslint"
    ],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "indent": [
            "error",
            4
        ],
        "max-len": [
            "error",
            120
        ],
        "no-multiple-empty-lines": [
            "error",
            { "max": 2 }
        ],
        "quotes": [
            "error",
            "double"
        ],
        "react/prop-types": "off",
        "semi": [
            "error",
            "always"
        ],
        "@typescript-eslint/explicit-member-accessibility": "off",
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "error",
        "@typescript-eslint/indent": "off"
    }
}
